.app{
  background-image: radial-gradient( circle 266px at 12% 29.3%,  rgba(58,219,154,0.93) 2%, rgba(153,228,208,1) 38.6%, rgba(142,246,219,0.82) 73.9%, rgba(253,255,238,1) 100.7% );
  .mainContent{
    height: 100vh;
    .title {
      text-align: center;
      margin: 0;
      padding-top: 30px;
    }
  }
}


